<!DOCTYPE html>
<html lang="es">
  <head>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />    

	{% load static %}
	<link rel="icon" type="image/x-icon" href="{% static 'cobranza_mora/cobra.ico' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/style.css' %}">
	<script src="{% static 'cobranza_mora/jquery.js' %}"></script>
	<script src="{% static 'cobranza_mora/bootstrap.bundle.min.js' %}"></script>
	
	<title>{% block title %} Cobra {% endblock title %}</title>
  </head>
  <body>
	<nav class="navbar navbar-expand-lg navbar-dark">
	  <div class="container-fluid">
		<a class="navbar-brand" href="{% url 'cobranza_mora:index' %}"><img src="{% static 'cobranza_mora/cobra_logo_titulo.svg' %}" alt="cobra" width="90"></a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav">
			
			<li class="nav-item">
			  <a class="nav-link active" aria-current="page" href="{% url 'cobranza_mora:index' %}">Listas</a>
			</li>
			<li class="nav-item">
			  <a class="nav-link" aria-current="page" href="{% url 'admin:index' %}">Admin</a>
			</li>					   
			<li class="nav-item">
			  <a class="nav-link" aria-current="page" href="{% url 'cobranza_mora:logout' %}">Salir</a>
			</li>
						
		  </ul>
		</div>
	  </div>
	</nav>
	{% block content %}{% endblock content %}
  </body>
</html> 
 
