{% extends 'base.html' %} 
{% block title %}{{ title }}{% endblock title %} 
{% block content %}
<h1>{{ title }}</h1>
<br>
<form name="form_event" method="POST"> 
{% csrf_token %}

{{ field.errors }}
{{ form_event.as_p }}
<p>
	<label for="id_telefono">Telefonos: </label>
	<select name="telefono" id="id_telefono">
	{% for t in telefonos %}
		<option value="{{ t.pk }}">{{ t.telefono_tipo }} - {{ t.telefono }}</option>
	{% endfor %}
	</select>
</p>
<br>
<br>
<input type="submit" value="Guardar" class="btn btn-primary">
</form>


<!-- <script>
	$(document).ready(function(){
		$(".btn").click(function(){
			alert("asdasd");
		});
	});
</script>
-->
{% endblock %}