<html>
	<head>
	<title>Evento</title>
{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/style.css' %}">
	<script src="{% static 'cobranza_mora/jquery.js' %}"></script>
	</head>
	<body>
{% block content%}
<h1>{{ title }}</h1>
<br>
<form name="form_event" method="POST"> 
{% csrf_token %}
Telefonos: <select id="telefono">
	{% for t in telefonos %}
	<option value="{{ t.telefono }}">{{ t.telefono_tipo }} - {{ t.telefono }}</option>
	{% endfor %}
</select>
<br><br>
{{ field.errors }}
{{ form_event.as_p }}


<br>
<input type="submit" value="Guardar" class="btn btn-primary">
</form>
</body>
<!-- <script>
	$(document).ready(function(){
		$(".btn").click(function(){
			alert("asdasd");
		});
	});
</script>
-->
{% endblock %}