{% extends 'base.html' %} 
{% block title %}{{ title }}{% endblock title %} 
{% block content %}
	<h1>Listado de eventos de: {{ title }}</h1>
	<br><br>
	{% if request.user.is_authenticated %}
		<table class="table table-bordered">
			<thead>
				<td>Fecha</td>
				<td>Responsable</td>
				<td>Tipo</td>
				<td>Teléfono</td>
				<td>Respuesta</td>
				<td>Mensaje</td>		  
			</thead>
		{% for l in lista_eventos %}
			<tr>
				<td>{{ l.fecha_creado }}</td>
				<td>{{ l.user }}</td>
				<td>{{ l.evento_tipo }}</td>
				<td>{{ l.telefono }}</td>
				<td>{{ l.evento_respuesta }}</td>
				<td>{{ l.mensaje }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>Usted no está autentificado</p>
		<a href="{% url 'cobranza_mora:login' %}">Iniciar Seción</a>
	{% endif %}
{% endblock %}