{% extends 'base.html' %} 
{% block title %}{{ title.0 }}{% endblock title %} 
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{ title.0 }}</h1>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3">
				<p class="lead">Empresa / Cliente / Cuenta</p>
				<div class="tabla-vertical">
					<table class="table table-bordered table-hover">
						{% csrf_token %}
						{% for l in lista %}
						<tr>
							<td id="{{ l.cliente.id }}">{{ l.cliente.empresa }} - {{ l.cliente }} - {{ l.cliente.cuenta }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-sm-3">
				<p class="lead">Información personal</p>
				<div class="datos_contacto"></div>
				<div class="datos_personales"></div>
				
				<!-- Button trigger modal -->
				<button type="button" class="btn btn-success btn-lg evento_modal" data-bs-toggle="modal" data-bs-target="#exampleModal">
					Cargar evento
				</button>
				
				<!-- Modal -->
				<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
					<div class="modal-dialog">
						<div class="modal-content">
							<div class="modal-header">
								<h5 class="modal-title" id="exampleModalLabel">Cargar evento</h5>
								<button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
							</div>
							<div class="modal-body">
								<div class="form_evento"></div>
							</div>
							<div class="modal-footer">
							<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
							<button type="button" class="btn btn-primary form_guardar" data-bs-dismiss="modal">Guardar</button>
							</div>
						</div>
					</div>
				</div>
				
			</div>
			
			<div class="col-sm-3">
				<p class="lead">Pagos</p>
				<div class="historial_pagos tabla-vertical"></div>
				
			</div>
			<div class="col-sm-3">
				<p class="lead">Listado de Eventos</p>
				<div class="historial_eventos tabla-vertical"></div>
				
			</div>
			<input type="hidden" id="ultimo_cliente" value="">
			</div>
	</div>

{% else %}
	<h1>no hay listas para usted</h1>
{% endif %}
<br>
<a href="{% url 'cobranza_mora:index' %}" class="btn btn-primary">Volver</a>

<script>
	$(document).ready(function(){

		var csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val()

		$(".table tbody tr td ").on( "click", function() {

			var datos_personales = "";
			var datos_contacto = "";
			var datos_evento = "";
			var datos_pago = "";
			var datos_formulario = "";
			
			
			id = $(this).attr('id');

			$("#ultimo_cliente").val(id);

			// Busco datos
			$.post({
				url: "{% url 'cobranza_mora:cliente_detalle' %}",
				data: {id_cliente:id},
				headers: {"X-CSRFToken": csrfmiddlewaretoken}
			},			
			function(data_cliente) {

				if(data_cliente['cliente'].length > 0){

					datos_personales = "";

					Object.entries(data_cliente["cliente"]["0"]).forEach(([key, value]) => {
						datos_personales += `<b>${key.toUpperCase().replace("_", " ")}</b>: ${value}<br>`;
					});

					$(".datos_personales").html(datos_personales);					
				}
				else{
					$(".datos_personales").html(data_cliente['cliente']);
				}


				if(data_cliente['telefono'].length > 0){

					datos_contacto = "";

					$.each(data_cliente['telefono'], function(key, value){
						datos_contacto += `<p><b>${data_cliente['telefono'][key]['telefono_tipo__telefono_tipo'].toUpperCase()}:</b>
							<a href="tel:${data_cliente['telefono'][key]['telefono']}">${data_cliente['telefono'][key]['telefono']}</a></p>`;
					});

					$(".datos_contacto").html(datos_contacto);
					$(".evento_modal").css("display", "block");
				}
				else{
					$(".datos_contacto").html("El cliente no tiene teléfono");
					$(".evento_modal").css("display", "none");
				}


				if(data_cliente['evento'].length > 0){

					datos_evento = `<div class="accordion accordion-flush" id="evento_acordeon">`;

					$.each(data_cliente['evento'], function(key, value){
						
						titulo = `<div>
							<p class="fw-bold">${data_cliente['evento'][key]['fecha_creado']}</p>
							<p class="fw-normal">${data_cliente['evento'][key]['evento_tipo__evento_tipo']} - 
							${data_cliente['evento'][key]['telefono__telefono_tipo__telefono_tipo'].slice(0, 3)}: 
							${data_cliente['evento'][key]['telefono__telefono']}<br>
							Respuesta: ${data_cliente['evento'][key]['evento_respuesta__evento_respuesta']}<br> 
							Responsable: ${data_cliente['evento'][key]['user__username']}</p>
						</div>`;

						datos_evento += `
						<div class="accordion-item">
							<h2 class="accordion-header" id="headingOne">
								<button class="accordion-button collapsed" 
								type="button" data-bs-toggle="collapse" 
								data-bs-target="#id_${data_cliente['evento'][key]['id']}" 
								aria-expanded="true" aria-controls="id_${data_cliente['evento'][key]['id']}">
									${titulo}
								</button>
							</h2>
						<div id="id_${data_cliente['evento'][key]['id']}" class="accordion-collapse collapse" aria-labelledby="headingOne" style="">
							<div class="accordion-body">
								<strong>${data_cliente['evento'][key]['evento_respuesta__evento_respuesta']}</strong><br>
								${data_cliente['evento'][key]['mensaje']}
							</div>
						</div>`;

					});

					datos_evento += `</div>
					</div>`;

					$(".historial_eventos").html(datos_evento);
				}
				else{
					$(".historial_eventos").html("");
				}

				if(data_cliente['pago'].length > 0){
					datos_pago = `<div class="list-group">`;

					$.each(data_cliente['pago'], function(key, value){
						datos_pago += `
						<div class="list-group-item list-group-item-action">
							<div class="d-flex w-100 justify-content-between">
								<h5 class="mb-1">$${data_cliente['pago'][key]['importe']}</h5>
								<small>${data_cliente['pago'][key]['fecha_pago']}</small>
							</div>
							<p class="mb-1">${data_cliente['pago'][key]['medio']}</p>
						</div>`;
					});

					datos_pago += `</div>`

					$(".historial_pagos").html(datos_pago);
				}
				else{
					$(".historial_pagos").html("");
				}

				if(data_cliente['form_evento'] != ""){
					datos_formulario += `
					<form name="form_event" class="form_event_client" method="POST">
						<table>						
						<tr><th>
							<label for="id_telefono">Telefonos: </label></th>
							<td><select name="telefono" id="id_telefono">
					`;

					$.each(data_cliente['telefono'], function(key, value){
						datos_formulario += `<option value="${data_cliente['telefono'][key]['id']}">${data_cliente['telefono'][key]['telefono_tipo__telefono_tipo']} - ${data_cliente['telefono'][key]['telefono']}</option>`;
					});

					datos_formulario += `</select></td></tr>
					${data_cliente['form_evento'].replace('<input type="hidden" name="telefono" id="id_telefono">', '')}
					<input type="hidden" name="csrfmiddlewaretoken" value="${csrfmiddlewaretoken}">
					</table>
					</form>`;

					$(".form_evento").html(datos_formulario);
				}

				
			});
			
		});


		$(".modal .form_guardar").on( "click", function() {

			var form = $(".form_event_client").serialize();

			var evento_tipo = $("#id_evento_tipo").val();
			var evento_respuesta = $("#id_evento_respuesta").val();

			if(evento_tipo == "" || evento_respuesta == ""){
				alert("Todos los campos deben tener algo seleccionado");
				return false;
			}

			$.post({
				url: "{% url 'cobranza_mora:evento_crear' %}",
				data: form,
				headers: {"X-CSRFToken": csrfmiddlewaretoken}
			},			
			function(data_event) {
				console.log(data_event);
				if(data_event == "ok"){
					var id_ultimo_cliente = $("#ultimo_cliente").val();

					$(`.table tbody tr #${id_ultimo_cliente}`).trigger( "click");
				}

			});
		});

	});
</script>
{% endblock %}