{% extends 'base.html' %} 
{% block title %}{{ title.0 }}{% endblock title %} 
{% block content %}
{% if request.user.is_authenticated %}
	<h1>{{ title.0 }}</h1>
	<br>
	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-4">
				<p class="lead">Empresa / Cliente / Cuenta</p>
				<div class="tabla-vertical">
					<table class="table table-bordered table-hover border-primary">
						{% csrf_token %}
						{% for l in lista %}
						<tr>
							<td id="{{ l.cliente.id }}">{{ l.cliente.empresa }} - {{ l.cliente }} - {{ l.cliente.cuenta }}</td>
						</tr>
						{% endfor %}
					</table>
				</div>
			</div>
			<div class="col-sm-4">
				<p class="lead">Información personal</p>
				<div class="datos_contacto"></div>
				<div class="datos_personales"></div>
				
			</div>
			<div class="col-sm-4">
				<p class="lead">Formulario</p>
				
			</div>
			</div>
	</div>

{% else %}
	<h1>no hay listas para usted</h1>
{% endif %}
<br>
<a href="{% url 'cobranza_mora:index' %}" class="btn btn-primary">Volver</a>

<script>
	$(document).ready(function(){

		$(".table tbody tr td ").on( "click", function() {

			var datos_personales = "";
			var datos_contacto = "";
			var csrfmiddlewaretoken = $('[name=csrfmiddlewaretoken]').val()
			
			id = $(this).attr('id');

			// Busco al cliente
			$.post({
				url: "{% url 'cobranza_mora:cliente_detalle' %}",
				data: {id_cliente:id},
				headers: {"X-CSRFToken": csrfmiddlewaretoken}
			},			
			function(data_cliente) {

				if(data_cliente['cliente']){

					datos_personales = "";

					Object.entries(data_cliente["cliente"]["0"]).forEach(([key, value]) => {
							
						if(key != "empresa"){
							datos_personales += `<b>${key.toUpperCase().replace("_", " ")}</b>: ${value}<br>`;						
						}

					});

					$(".datos_personales").html(datos_personales);					
				}
				else{
					$(".datos_personales").html(data_cliente['cliente']);
				}

				if(Array.isArray(data_cliente['telefono'])){

					datos_contacto = "";

					$.each(data_cliente['telefono'], function(key, value){

						$.each(data_cliente['telefono'][key], function(key1, value1){

							if(key1 == 'telefono'){
								datos_contacto += `<a href="tel:${value1}">${value1}</a>`;
							}
							else{
								datos_contacto += `<b>${value1.toUpperCase()}:</b> `;
							}
							
						});
						
						datos_contacto += "<br>"

					});

					$(".datos_contacto").html(datos_contacto);
				}
				else{
					$(".datos_contacto").html(data_cliente['telefono']);
				}
				
			});
			
		});

	});
</script>
{% endblock %}