<html lang="es">
<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>{{ title }}</title>
	{% load static %}
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/bootstrap.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/style.css' %}">
	<script src="{% static 'cobranza_mora/jquery.js' %}"></script>
</head>
<body>
	<h1>Listado de eventos de: {{ title }}</h1>
	<br><br>
	{% if request.user.is_authenticated %}
		<table class="table table-bordered">
			<thead>
				<td>Fecha</td>
				<td>Responsable</td>
				<td>Tipo</td>
				<td>Teléfono</td>
				<td>Respuesta</td>
				<td>Mensaje</td>		  
			</thead>
		{% for l in lista_eventos %}
			<tr>
				<td>{{ l.fecha_creado }}</td>
				<td>{{ l.user }}</td>
				<td>{{ l.evento_tipo }}</td>
				<td>{{ l.telefono }}</td>
				<td>{{ l.evento_respuesta }}</td>
				<td>{{ l.mensaje }}</td>
			</tr>
		{% endfor %}
		</table>
	{% else %}
		<p>Usted no está autentificado</p>
		<a href="{% url 'cobranza_mora:login' %}">Iniciar Seción</a>
	{% endif %}

	
</body>
</html>