<html>
<head>
	<title>Lista</title>

{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/bootstrap.min.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'cobranza_mora/style.css' %}">
<script src="{% static 'cobranza_mora/jquery.js' %}"></script>

</head>
<body>  

{% if request.user.is_authenticated %}

   <h1>{{ lista.lista }}</h1>
   <table class="table table-bordered">
	  <thead>
		<td>Evento</td>
		<td>Empresa</td>
		<td>Cliente</td>
		<td>Cuenta</td>
		<td>DNI</td>
		<td>Deuda Mínima</td>
		<td>Deuda Parcial</td>
		<td>Deuda Total</td>
		<td>Responsable</td>
	  </thead>

   {% for Lista_cliente in lista.lista_cliente_set.all %}
	  {% if Lista_cliente.estado_id == 1 and Lista_cliente.user_id == request.user.id %}
		 <tr>
			<td><a href="{% url 'cobranza_mora:evento' Lista_cliente.cliente.id %}" target="_blank">Agregar Evento</a></td>
			<td>{{ Lista_cliente.cliente.empresa }}</td>
			<td>{{ Lista_cliente.cliente.nombre }}</td>
			<td>{{ Lista_cliente.cliente.cuenta }}</td>
			<td>{{ Lista_cliente.cliente.dni }}</td>
			<td>{{ Lista_cliente.cliente.deuda_minima }}</td>
			<td>{{ Lista_cliente.cliente.deuda_parcial }}</td>
			<td>{{ Lista_cliente.cliente.deuda_total }}</td>
			<td>{{ Lista_cliente.user }}</td>
		 </tr>
	  {% endif %}
   {% endfor %}
   </table>

   <a href="{% url 'cobranza_mora:index' %}">Volver</a>
{% else %}
   <p>Usted no está autentificado</p>
   <a href="{% url 'cobranza_mora:login' %}">Iniciar Seción</a>
{% endif %}
</body>
</html>