{% extends 'base_login.html' %} 
{% block title %}Inicio{% endblock title %}
{% load static %}
{% block content %}

{% if request.user.id %}
	<meta http-equiv="REFRESH" content="0;{% url 'cobranza_mora:index'%}">
{% endif %}

<div class="container text-center	">
	<div class="row justify-content-md-center">

		<div class="col-md-4"></div>
		<div class="col-md-4">
			<img src="{% static 'cobranza_mora/cobra.png' %}" alt="cobra" class="logo" width="120">
			<form method="post">
				{% csrf_token %}
				{{ form.as_p }}

			<button type="submit" id="submit" class="btn btn-primary">Iniciar sesión</button>
		</form>
		</div>
		<div class="col-md-4"></div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('[name=username]').addClass("form-control");
		$('[name=password]').addClass("form-control");
	});
</script>
{% endblock %}