body {background: #ecf0f1;}
a {color: #3498db;}
thead{font-weight: bold;}
.tabla-vertical {
	overflow: auto;
	position: sticky;
	top: 0;
	max-height: 73vh;
}
.datos_personales{
	margin-top: 10px;
}
.historial_eventos{
	margin-top: 10px;
}
.evento_modal{
	display: none;
	margin-top: 20px;
}
.navbar{
	margin-bottom: 10px;
	background-color: #34495e;
}