body {background: #d4d4d4;}
a {color: #fa8231;}
thead{font-weight: bold;}
.tabla-vertical {
	overflow: auto;
	position: sticky;
	top: 0;
	max-height: 65vh;
}
.datos_personales{
	margin-top: 10px;
}
.historial_eventos{
	margin-top: 10px;
}