body {background: #ffffff;}
a {color: midnightblue;}
thead{font-weight: bold;}
.tabla-vertical {
	overflow: auto;
	position: sticky;
	top: 0;
	max-height: 65vh;
}
.datos_personales{
	margin-top: 10px;
}